*{
    margin: 0;
    text-align: center;
}
h1{
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
a{
    text-decoration: none;
    color: white;
}
.dropdown{
    position: relative;
    display: inline-block;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    list-style: none;
    
}
.dropdown-content a {
    color: black;
    padding: 12px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    
    
}
.dropdown-content li:hover {
    background-color: #ff0000
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    width: 8em;
}
img{
    display: block;
     margin-left: auto;
    margin-right: auto;
    width: 90%;
}